<div class="row">
    <div class="col-xs-12">
        <h3>Loading...</h3>
        <div class="progress-bar-load">
          <span class="bar">
            <span class="progress-load"></span>
          </span>
        </div>
    </div>
</div>
